[user]
	email = christian@chrs.dev
	name = Christian Mutti
	signingkey = 71813F13ED7C74A2!
[core]
	excludesfile = ~/.gitignore
	pager = delta 
[init]    
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[pull]
	rebase = true
[commit]
	gpgsign = true
[includeIf "gitdir:~/Workspace/biggy/"]
	path = ~/.work.gitconfig
[includeIf "gitdir:~/Workspace/vtex/"]
	path = ~/.work.gitconfig
